*, *::before, *::after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #f5f5f5; /* Off-white background */
  color: #333;              /* Dark gray text */
  font-family: 'Poppins', sans-serif; /* A professional-looking font */
}