.homePage {
  min-height: 100vh;
}

.heroSection {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.heroSection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1605851189175-437b3a2ad89d?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    transform: perspective(1000px) translateZ(-5px);
    transform-origin: center;
    filter: brightness(0.9);
}

.heroContent {
    position: relative;
    z-index: 1;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.heroContent h1 {
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 5px;
    margin: 0;
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.8);
}

.heroContent p {
    font-size: 1.8rem;
    font-style: italic;
    margin-top: 10px;
    color: #ffffff;
}